body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 236, 227);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: rgb(36, 40, 66);
  position: absolute;
  top: 0px;
  left: 60px;
  width: 1300px;
}

.button{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #d6d5ce;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:lowercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  background-color: rgb(98, 97, 116);
  border-radius: 300px;
  }

  .navBar{
    display:inherit;
    height: 66px;
    background-color: rgb(77, 74, 97); 
    left:100px;
    border:0.16em solid #FFFFFF;
    border-radius: 10px;
  }

  .navButtons{
    position: relative;
  }

  .textBoxes{
    border-radius: 200px;
    padding:0.5em 1em;
    margin:0 0.3em 0.3em 0;
    border:0.16em solid #a38383;
    font-family:'Roboto',sans-serif;
  }


.characterCreator{
  background-color:rgb(77, 74, 97);
  position: relative;
  height: 800px;
  width:1000px;
  margin: auto;
  border:0.16em solid #FFFFFF;
  border-radius: 10px;

}

.attributeSelector{
  background-color: cadetblue;
  width: 180px;
  position: absolute;
  border:0.16em solid #FFFFFF;
  left: 3px;
  top:3px;
  border-radius: 10px;
 
  
}

.selectorText{
  color: white
  
}

.characterBody{
  top:0px;
  background-color:rgb(77, 74, 97);
  height: 793px;
  width: 500px;
  position: absolute;
  right: 150px;
  top: 5px;
}

.face{
  background-color:rgb(216, 198, 149);
  height: 500px;
  width: 400px;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 200px;
}

.torso{
  background-color: rgb(128, 26, 0);
  height: 100px;
  width: 300px;
  position: absolute;
  left:110px;
  top: 501px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;

}

.lowerHalf{
  background-color: rgb(111, 148, 165);
  height: 200px;
  width: 300px;
  position: absolute;
  bottom: 0px;
  left: 110px;
}

.hair{
  position: absolute;
  top: -22px;
  left: 0px;
 
}

.eyes{
  position: absolute;
  top: 20px;
  left: 50px;
 
}

.mouth{
  position: absolute;
  left: 50px;
  bottom: 30px;

 
}

.shirt{
  position: relative;
 
}

.pants{
  position: relative;
  
}

.shoes{
  position: relative;
  bottom: 0px;
}
