body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: rgb(117, 96, 133);
}

.button{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:lowercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  background-color: rgb(122, 121, 150);
  border-radius: 200px;
  }


.characterCreator{
  background-color:rgb(77, 74, 97);
  position: relative;
  height: 809px;
  width:1000px;
  margin: auto;

}

.attributeSelector{
  background-color: cadetblue;
  width: 180px;
  position: absolute;


}

.characterBody{
  top:0px;
  background-color: bisque;
  height: 800px;
  width: 500px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.face{
  background-color:rgb(137, 154, 174);
  height: 500px;
  width: 500px;
  position: absolute;
  top: 0px;
  border-radius: 200px;
}

.torso{
  background-color: rgb(128, 26, 0);
  height: 100px;
  width: 500px;
  position: absolute;
  top: 501px

}

.lowerHalf{
  background-color: rgb(111, 148, 165);
  height: 200px;
  width: 500px;
  position: absolute;
  bottom: 0px;
}

.hair{
  position: relative;
 
}

.eyes{
  position: absolute;
  top: 20px;
  left: 105px;
 
}

.mouth{
  position: absolute;
  left: 200px;
  bottom: 50px;

 
}

.shirt{
  position: relative;
 
}

.pants{
  position: relative;
  
}

.shoes{
  position: relative;
  bottom: 0px;
}
