



@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Press+Start+2P&family=Monoton&family=Permanent+Marker&family=Ranchers&display=swap');







body {
  margin: 0;

  font-family: 'Monoton', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Ranchers', cursive;
  font-family: 'Codystar', cursive;
  font-family: 'Press Start 2P', cursive;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(36, 33, 62);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: rgb(36, 33, 62);
  background-image: url("./components/character/gifs/background.gif");
  position: absolute;
  top: 0px;
  left: 100px;
  width: 1200px;
  height: fit-content;
}

.button{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #d6d5ce;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:lowercase;
  font-family: 'Permanent Marker', cursive;
  font-weight:400;
  font-size: 12px;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  background-color: rgb(98, 97, 116);
  border-radius: 300px;
  }

  .navButton-style{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #d6d5ce;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:lowercase;
    font-family: 'Permanent Marker', cursive;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    background-color: rgb(203, 125, 23);
    border-radius: 10px;
  }



  .navBar{
    display:inherit;
    height: 66px;
    background-color: rgb(104, 57, 68); 
    left:100px;
    border:0.16em solid #FFFFFF;
    border-radius: 10px;
  }

  .navButtons{
    position: absolute;
    top: 69px;
  }

  .myCharacterButton{
    position: absolute;
    right: 0px;
    top: 69px
  }

  .signoutDelete{
    position: absolute;
    top: 130px;
    right: 183px;
  }

  .textBoxes{
    border-radius: 200px;
    padding:0.5em 1em;
    margin:0 0.3em 0.3em 0;
    border:0.16em solid #a38383;
    font-family:'Roboto',sans-serif;
  }


.characterCreator{
  background-color:rgb(252, 252, 252);
  background-image: url("./components/character/gifs/stars.gif");
  position: relative;
  height: 600px;
  width:750px;
  
  margin: auto;
  border:0.16em solid #FFFFFF;
  border-radius: 10px;

}

.attributeSelector{
  background-color: cadetblue;
  width: 180px;
  position: absolute;
  border:0.16em solid #FFFFFF;
  left: 3px;
  top:3px;
  border-radius: 10px;
 
  
}

.selectorText{
  color: rgb(255, 255, 255);
  text-shadow: 1.25px 1.25px;
  
}

.characterBody{
  top:0px;
  background-color:rgb(60, 60, 60);
  background-image: url("./components/character/gifs/stars.gif");
  height: 580px;
  width: 350px;
  position: absolute;
  right: 150px;
  top: 5px;
}

.face{
  background-color:rgb(123, 70, 157);
  height: 350px;
  width: 300px;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 200px;
}

.torso{
  background-color: rgb(43, 27, 23);
  height: 75px;
  width: 225px;
  position: absolute;
  left:95px;
  top: 352px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;

}

.lowerHalf{
  background-color: rgb(111, 148, 165);
  height: 150px;
  width: 225px;
  position: absolute;
  bottom: 0px;
  left: 95px;
}

.hair{
  position: absolute;
  top: 0px;
  left: 0px;
 
}

.eyes{
  position: absolute;
  top: 30px;
  left: 40px;
  height: 225px;
 
}

.mouth{
  position: absolute;
  left: 38px;
  bottom: 18px;

 
}

.shirt{
  position: absolute;
  top: 320px;
  left: 105px
 
}

.pants{
  position: absolute;
  top: 385px;
  left: 105px
}

.shoes{
  position: relative;
  bottom: 0px;
}


.singleUser-container{
  background-color: rgb(99, 99, 99);
  width: 1200px;
  height: 36px;
}


.userDiv{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #d6d5ce;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:lowercase;
  font-family: 'Permanent Marker', cursive;
  font-weight:400;
  color:#FFFFFF;
  position: absolute;
  right: 510px;
  text-align:center;
  transition: all 0.15s;
  background-color: rgb(176, 155, 65);
  border-radius: 10px;
  right: 0px;
  }

  .chooseColor{
    border-radius: 200px;
    margin:0 0.3em 0.3em 0;

  }


  .theBouncer{
    background-image: url("https://content3.jdmagicbox.com/comp/bangalore/g6/080pxx80.xx80.150203183924.r1g6/catalogue/star-bouncers-koramangala-bangalore-birthday-party-organisers-0tsuwpj6xt.jpeg");
    
  }